<div class="all-stories-slider">
    <div class="slider-grid">
    {% for storie in stories %}
        <ul class="all-stories-items">
            <li>
                <div>
                    <img src="https://fdnd-agency.directus.app/assets/{{ storie.image }}?width=112&height=95">
                </div>

                <div class="storie-content">
                    <h3>{{ storie.title }}</h2>
                    <p>{{ storie.summary }}</p>
                    <button>
                        <svg width="11" height="12" viewBox="0 0 11 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10.0874 7.06141C10.7817 6.52417 10.7817 5.47595 10.0874 4.93871C7.98914 3.31514 5.6461 2.03543 3.14602 1.14749L2.68929 0.985277C1.8155 0.674939 0.892544 1.26613 0.774251 2.16812C0.443739 4.68826 0.443739 7.31186 0.774251 9.83201C0.892543 10.734 1.8155 11.3252 2.68929 11.0148L3.14602 10.8526C5.6461 9.96469 7.98914 8.68498 10.0874 7.06141Z" fill="white"/>
                        </svg>
                    </button>
                </div>
            </li>
        </ul>
    {% endfor %}
    </div>
</div>